[submodule "src/main/tools/python/matrix_tools"]
	path = src/main/tools/python/matrix_tools
	url = git@github.com:mightymicha/SFL_tool.git
[submodule "src/main/json/defects4j-dissection"]
	path = src/main/json/defects4j-dissection
	url = git@github.com:program-repair/defects4j-dissection.git
[submodule "src/main/tools/java/gzoltar"]
	path = src/main/tools/java/gzoltar
	url = git@github.com:GZoltar/gzoltar.git
